# .gitignore

# python cache
__pycache__/*
__pycache__/
*.pyc

# vscode configs
.vscode

# run dir
/runs/*
!/runs/.gitkeep

# datasets dir
/datasets/*
!/datasets/.gitkeep

# ultralytics
/ultralytics*
/ultralytics/*
# !/ultralytics/.gitkeep

# third_party
/third_party

# medias
*.mp4
*.png
*.jpg


# models
# /yolo_model/*
# !/yolo_model/.gitkeep
*.pt

# zipfile
*.rar
*.7z

# data dirs
/VISUALIZE_logdir
/SUP_models
/GAN_models
/runs

# FFA
/FFA-Net

#rsync
/sync.sh